{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "rules": {
      "@typescript-eslint/ban-ts-comment": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-empty-function": "off",
      "@typescript-eslint/no-inferrable-types": "off",
      "@typescript-eslint/no-use-before-define": "off",
      "@typescript-eslint/ban-ts-ignore": "off",
      "@typescript-eslint/no-unused-vars": ["error", {
        "ignoreRestSiblings": true
      }],
      "arrow-parens": "off",
      "implicit-arrow-linebreak": "off",
      "comma-dangle": "off",
      "import/no-cycle": "off",
      "import/no-extraneous-dependencies": "off",
      "import/prefer-default-export": "off",
      "import/extensions": "off",
      "jsx-a11y/label-has-associated-control": ["error"],
      "jsx-a11y/label-has-for": "off",
      "max-len": "off",
      "no-unused-expressions": ["error", { "allowShortCircuit": true }],
      "no-use-before-define": "off",
      "no-param-reassign": ["error", { "props": false }],
      "object-curly-newline": "off",
      "operator-linebreak": "off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-filename-extension": "off",
      "react/no-did-update-set-state": "off",
      "react/prefer-stateless-function": "off",
      "quotes": ["error", "single", { "avoidEscape": true }],
      "react/prop-types": "off",
      "react/jsx-fragments": ["error"],
      "react-hooks/rules-of-hooks": "error",
      "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
      "@typescript-eslint/ban-types": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "import/no-anonymous-default-export": "off",
      "@typescript-eslint/consistent-type-assertions": "off",
      "@typescript-eslint/no-redeclare": "off",
      "react-hooks/exhaustive-deps": "off"
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
