.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px ;
    box-shadow: 30px;
    margin: 20px;
    max-width: 250px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    color: #FDC040;
    font-size: 20px;
}

.card-bottom {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    padding-top: 0; 
}